* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.loading {
  background: url('../public/loader.gif') center / cover no-repeat;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  height: 100%;
  margin: 0 auto;

  .main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  .footer {
    flex: 0 0 auto;
  }
}

.input {
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 7px;
}

.button {
  font-weight: 700;
  outline: none;
  border: none;
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: white;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: lightgray;
    background-color: black;
  }
}

.error {
  flex: 1 0 auto;
  background: url(../public/404page.png) center / contain no-repeat;

  &__title {
    text-align: center;
    margin-top: 50px;
  }
}
